<h4>{{#msg}}performanceinspector-pagesize-title{{/msg}}</h4>

<p>{{#msg}}performanceinspector-pagesize-missing-html-size{{/msg}}</p>
<table class="wikitable">
	<thead>
		<tr>
			<th>
				{{#msg}}performanceinspector-pagesize-column-totalsize{{/msg}}
			</th>
			<th>
				{{#msg}}performanceinspector-pagesize-column-imagesize{{/msg}}
			</th>
			<th>
				{{#msg}}performanceinspector-pagesize-column-othersize{{/msg}}
			</th>
		</tr>
	</thead>
		<tr>
			<td>
			{{totalSize}}
			</td>
			<td>
				{{size.images}}
			</td>
			<td>
				{{size.others}}
			</td>
		</tr>
</table>

{{#showToBig}}
<h5>Image(s) larger than {{warningLimit}} bytes</h5>

<table class="wikitable">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
			Size
			</th>
		</tr>
	</thead>
		{{#tooBig}}
		<tr>
			<td>
				{{name}}
			</td>
			<td>
				{{size}}
			</td>
		</tr>
		{{/tooBig}}
</table>


{{/showToBig}}
