<h3>{{#msg}}performanceinspector-dialog-summary{{/msg}}</h3>
	<p>
	{{#msg}}performanceinspector-summary-introduction{{/msg}}
	</p>
	<p>
		{{#msg}}performanceinspector-modules-summary-top-list{{/msg}}
	</p>
	<ul>
		{{#modulesSummary}}
			<li>{{name}} - {{size}}</li>
		{{/modulesSummary}}
	</ul>
	<p>
		{{#msg}}performanceinspector-modules-summary-total-size{{/msg}} {{modulesSummarySize}}.
	</p>
	<p>
		{{backendTime}}
	</p>
</div>
