<h3>{{#msg}}performanceinspector-dialog-summary{{/msg}}</h3>
	<p>
		{{#msg}}performanceinspector-modules-summary-total-size{{/msg}} {{modulesSummarySize}}.
	</p>
	{{#imagesSummary}}
		{{imagesSummary}}
	{{/imagesSummary}}

	{{#pageSize}}
		<p>
			{{pageSize}}
		</p>
	{{/pageSize}}

	<p>
			{{parserReportSummary}}
	</p>
</div>
